version: 2.1
orbs:
    codecov: codecov/codecov@1.1.3
    gh: circleci/github-cli@1.0.3
    browser-tools: circleci/browser-tools@1.2.4
jobs:
    build_lab:
        docker:
            - image: cimg/node:14.19.0-browsers
        steps:
            - checkout
            - browser-tools/install-browser-tools
            - restore_cache:
                  keys:
                      - v2-dependencies-angular-{{ checksum "yarn.lock" }}
            - run:
                  name: Install Dependencies
                  command: |
                      yarn install --frozen-lockfile
            - save_cache:
                  name: Save Cache
                  paths:
                      - node_modules
                  key: v2-dependencies-angular-{{ checksum "yarn.lock" }}
            - run:
                  name: Prettier Check
                  command: |
                      yarn prettier:check
            - run:
                  name: Lint
                  command: |
                      yarn lint
            - run:
                  name: Test
                  command: |
                      yarn test:ci
            - run:
                  name: Build Lab
                  command: |
                      yarn build:lab
            - run:
                name: Build Demo
                command: |
                  yarn build:demo
            - run:
                  name: Test Artifacts
                  command: |
                      yarn test:artifacts
            - run:
                name: NPM Package
                command: |
                      cd dist && npm pack
            # Save the dist folder for use in future jobs.
            - persist_to_workspace:
                  root: .
                  paths:
                      - dist

    publish:
      docker:
        - image: cimg/node:14.19.0-browsers
      steps:
        - checkout
        - attach_workspace:
            at: .
        - run:
            name: Authenticate with registry
            command: |
              echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
              echo "//registry.yarnpkg.com/:_authToken=$NPM_TOKEN" >> ~/.npmrc
        - run:
            name: Publish @blui-lab/angular
            command:  |
              yarn publish:package -b $CIRCLE_BRANCH

    tag:
      docker:
        - image: cimg/node:14.19.0-browsers
      steps:
        - checkout
        - gh/setup
        - run:
            name: Tag @blui-lab/angular
            command: |
              yarn tag:package -b $CIRCLE_BRANCH

workflows:
    version: 2
    angular_lab:
        jobs:
            - build_lab
            - publish:
                requires:
                    - build_lab
                filters:
                    branches:
                        only:
                            - master
                            - dev
            - tag:
                requires:
                    - publish
                filters:
                    branches:
                        only:
                            - master
