@import '~@brightlayer-ui/colors/palette';

// Check
.blui-auth-password-check {
    height: auto;
    &.mat-list-item ::ng-deep .mat-list-item-content {
        padding: 0;
    }
    .blui-validation-message {
        padding-left: 8px;
        font-weight: 400;
        line-height: 1.75;
    }
    .blui-check-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }

    mat-icon:not(.mat-primary),
    .blui-validation-message.success {
        color: map-get($blui-gray, 200);
    }
}

// Checker
.blui-password-strength-checker {
    display: flex;
    mat-list-item.blui-password-strength-checker-content {
        height: auto;
    }
}
