@import '~@brightlayer-ui/colors/palette';

// Check
.blui-password-requirement-content {
    height: auto;
    &.mat-list-item ::ng-deep .mat-list-item-content {
        padding: 0;
    }
    .blui-password-requirement-validation-message {
        padding-left: 8px;
        font-weight: 400;
        line-height: 1.75;
    }
    .blui-password-requirement-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

// Checker
.blui-password-strength-checker {
    display: flex;
    mat-list-item.blui-password-strength-checker-content {
        height: auto;
    }
}
